[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "catchmentACS"]
	path = catchmentACS
	url = https://github.com/joonho112/catchmentacs
